body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: arial;
	background-color: #add8e6;
	}

.content {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	width: 70%;
	min-width: 400px;
	border-radius: 10px;
	border: solid 1px black;	
	background-color: #F0E68C;
	//height: 50%;
	box-shadow: 0 0 20px rgba(0,0,0,0.9);
	position: relative;
	}

table{
	width: 95%;
	border: 2px solid #aaa;
	background-color: #fefefe;
	margin: 10px auto;
	border-collapse: collapse;
	}

td {	
	border: 2px solid #aaa;
	padding: 5px;
	}
	
td h2 {
	text-align: center;
	vertical-align: bottom;
	}

.number {
	width: 20%;
	text-align: center;
	font-size: 1.2em;
	font-style: italic;
	font-weight: bold;
	background-color: #00fa60;
	}

.question {
	font-weight: bold;
	font-size: 1.1em;
	background-color: #ccc;
	}

.answer {
	background-color: #eeeeff;
	}
	
.red {
	background-color: #ffbbbb;
	}
	
.green {
	background-color: #bbffbb;
	}
